<template>
    <div>

        <a-row justify="space-between" style="margin-bottom: 20px;">
            <h1>Categoria Estabelecimento</h1>
            <a-button type="primary" @click="showModal">Criar Categoria</a-button>
        </a-row>
        <a-table :columns="columns" :data-source="categoriesEstablishment">
            <template #headerCell="{ column }">
                <template v-if="column.key === 'id'">
                    <span>Id</span>
                </template>
                <template  v-if="column.key === 'name'">
                    <span> Nome </span>
                </template>
            </template>
        </a-table>
    </div>
    <Modal :showModal="openModal" @close="openModal = false" @getCategories="handleCategoriesEstablishment" />
</template>
<script>
import Modal from '../../components/modals/categoryEstablishment/categoryEstablishmentModal.vue';

export default {
    components: {
        Modal
    },
    data() {
        return {
            openModal: false,
            categoriesEstablishment: [],
            columns: [
                {
                    name: 'Id',
                    dataIndex: 'id',
                    key: 'id',
                },
                {
                    name: 'Nome',
                    dataIndex: 'name',
                    key: 'name',
                },
            ]
        }
    },
    mounted() {
        this.handleCategoriesEstablishment();
    },
    methods: {
        async handleCategoriesEstablishment() {
            try {
                const response = await this.$axios.get('establishment-category');

                this.categoriesEstablishment = response.data;
            } catch (error) {
                console.log(error);
            }
        },
        showModal() {
            this.openModal = true;
        }
    },
}
</script>