<template>
    <div>
        <a-row justify="space-between" style="margin-bottom: 20px;">
            <h1>Estabelecimento</h1>
            <a-button type="primary" @click="showModal">Criar Estabelecimento</a-button>
        </a-row>
        <a-table :columns="columns" :data-source="establishment">
            <template #headerCell="{ column }">
                <template v-if="column.key === 'id'">
                    <span>Id</span>
                </template>
                <template v-if="column.key === 'name'">
                    <span>Nome</span>
                </template>
                <template v-if="column.key === 'name_category'">
                    <span>Nome Categoria</span>
                </template>
                <template v-if="column.key === 'city'">
                    <span>Cidade</span>
                </template>
            </template>

            <template #bodyCell="{ column, record }">
                <template v-if="column.key === 'name_category'">
                    <span> {{ record.establishment_categories.name }}</span>
                </template>
                <template v-if="column.key === 'city'">
                    <span> {{ record.localidade }}</span>
                </template>
            </template>
        </a-table>
    </div>
    <Modal :showModal="openModal" :categories="categories" @close="openModal = false"
        @getEstablishment="handleEstablishment" />
</template>
<script>
import Modal from '../../components/modals/establishment/establishmentModal.vue'

export default {
    components: {
        Modal
    },
    data() {
        return {
            openModal: false,
            establishment: [],
            categories: [],
            columns: [
                {
                    name: 'Id',
                    dataIndex: 'id',
                    key: 'id',
                },
                {
                    name: 'Nome',
                    dataIndex: 'name',
                    key: 'name',
                },
                {
                    name: 'Nome Categoria',
                    dataIndex: 'name_category',
                    key: 'name_category',
                },
                {
                    name: 'Cidade',
                    dataIndex: 'city',
                    key: 'city',
                },
            ]
        }
    },
    mounted() {
        this.handleEstablishment();
        this.getCategoriesEstablishment();
    },
    methods: {
        async handleEstablishment() {
            try {
                const response = await this.$axios.get('/establishment');

                this.establishment = response.data;
            } catch (error) {
                console.log(error);
            }
        },

        async getCategoriesEstablishment() {
            try {
                const response = await this.$axios.get('/establishment-category');

                this.categories = response.data;
            } catch (error) {
                console.log(error);
            }
        },
        showModal() {
            this.openModal = true;
        }
    },
}
</script>