<template>
    <a-skeleton :paragraph="{ rows: 10 }" :loading="loading">
        <a-row style="margin-bottom: 20px;">
            <h1>Produtos</h1>
            <a-col :xs="24" :md="8" class="filter">
                <!-- <a-input v-model:value="search" placeholder="Basic usage" /> -->
            </a-col>
        </a-row>
        <a-row :gutter="[16, 16]">
            <div v-for="product in  products.data" :key="product.id">
                <a-card size="small" :title="product.name" style="width: 300px; min-height: 250px;">
                    <template #extra> <a-button @click="addCart(product)">
                            <ShoppingCartOutlined />
                        </a-button></template>
                    <p>Preço: {{ new Intl.NumberFormat('pt-BR', {
                        style: 'currency', currency: 'BRL'
                    }).format(product.price) }}</p>
                    <p>Categoria do Produto: {{ product.product_categories.name }}</p>
                    <p>Estabelecimento: {{ product.establishments.name }}</p>
                </a-card>
            </div>
        </a-row>
        <a-row style="margin-top: 50px;" justify="space-between">
            <a-pagination v-model:current="current" :total="products.total" v-model:pageSize="products.per_page" />
            <a-button @click="showModal">Carrinho {{ cart }} </a-button>
        </a-row>
    </a-skeleton>

    <Modal :showModal="openModal" @close="openModal = false" :items="setOrder" @clearAllCart="clearAllCart" />
</template>

<script>
import Modal from '../../components/modals/cart/cartModal.vue';
import { ShoppingCartOutlined } from '@ant-design/icons-vue';

export default {
    components: {
        Modal,
        ShoppingCartOutlined
    },
    data() {
        return {
            loading: false,
            amount: 0,
            openModal: false,
            products: [],
            current: 1,
            cart: 0,
            setOrder: { order: [] },
            search: null,
        }
    },
    mounted() {
        this.handleProducts();
    },
    watch: {
        current() {
            this.handleProducts();
        },
    },
    methods: {
        async handleProducts() {
            this.loading = true;
            try {
                const response = await this.$axios.get(`/product?page=${this.current}`)
                this.products = response.data
            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        },
        showModal() {
            this.openModal = true;
        },
        addCart(product) {
            this.setOrder.order.push({ amount: 1, ...product });
            this.cart++
        },
        clearAllCart() {
            this.cart = this.setOrder.order.length;
           
        }
    }
}
</script>

<style>
.filter {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
</style>