<template>
    <a-row justify="center" type="flex" align="middle" class="box-main">
        <a-col :md="8" :xs="18">
            <a-form layout="vertical" name="basic" :model="form" @finish="handleStoreUser">
                <a-divider>Criar Conta</a-divider>
                <a-form-item label="Nome" name="name" :rules="[{ required: true, message: 'Nome é obrigatório' }]">
                    <a-input v-model:value="form.name">
                        <template #prefix>
                            <UserOutlined />
                        </template>
                    </a-input>
                </a-form-item>
                <a-form-item label="Email" name="email" :rules="[{ required: true, message: 'Email é obrigatório' }]">
                    <a-input v-model:value="form.email" type="email">
                        <template #prefix>
                            <ApiOutlined />
                        </template>
                    </a-input>
                </a-form-item>
                <a-form-item label="Senha" name="password" :rules="[{ required: true, message: 'Senha é obrigatório' }]">
                    <a-input-password v-model:value="form.password">
                        <template #prefix>
                            <LockOutlined />
                        </template>
                    </a-input-password>
                </a-form-item>
                <a-row justify="end">
                    <router-link to="/login" class="box-create-user">
                        Voltar para login?
                    </router-link>
                </a-row>
                <a-form-item>
                    <a-button type="primary" block size="large" html-type="submit">Cadastrar</a-button>
                </a-form-item>
            </a-form>
        </a-col>
    </a-row>
</template>

<script>
import { UserOutlined, LockOutlined, ApiOutlined } from '@ant-design/icons-vue';

export default {
    components: {
        UserOutlined,
        LockOutlined,
        ApiOutlined,
    },
    data() {
        return {
            form: {}
        };
    },

    methods: {
        async handleStoreUser() {
            try {
                const response = await this.$axios.post('/user', {
                    name: this.form.name,
                    email: this.form.email,
                    password: this.form.password
                });

                this.form.name = null;
                this.form.email = null;
                this.form.password = null;

                alert(response.data.message);
            } catch (error) {
                console.log(error);
            }
        }
    }
}
</script>

<style></style>
