<template>
    <div>
        <a-modal v-model:visible="openModal" title="Carinho" width="1000px">
            <a-row>
                <div v-for="item in items.order" :key="item.id">
                    <a-card :title="item.name" style="width: 300px">
                        <p>Preço: {{ new Intl.NumberFormat('pt-BR', {
                            style: 'currency', currency: 'BRL'
                        }).format(item.price) }}</p>
                        <p>Quantidade: {{ item.amount }}</p>
                    </a-card>
                </div>
            </a-row>
            <template #footer>
                <a-row justify="start">
                    <b>Total: {{ new Intl.NumberFormat('pt-BR', {
                        style: 'currency', currency: 'BRL'
                    }).format(totalCart) }}</b>
                </a-row>
                <a-button key="back" @click="closeModal">Fechar</a-button>
                <a-button type="primary" :loading="loading" @click="closeCart(items)">Salvar</a-button>
                <a-button type="primary" @click="clearAllCart()">Limpar Carrinho</a-button>
            </template>
        </a-modal>
    </div>
</template>

<script>

import { DeleteOutlined } from '@ant-design/icons-vue';
import { userStore } from '../../../pinia/userPinia';

export default {
    props: ['showModal', 'items'],

    components: {
        DeleteOutlined
    },
    data() {
        return {
            active: false,
            loading: false,
            price: 0,
            userTest: userStore(),
            clear: [],
        }
    },
    computed: {
        openModal: {
            get() {
                return this.active = this.showModal;
            },
            set(value) {
                return value;
            }
        },
        totalCart: {
            get() {
                let total = 0
                this.items.order.map(index => {
                    this.price = parseFloat(index.price) + parseFloat(0);
                    total = parseFloat(this.price) + parseFloat(total);
                })
                return total;
            },
        },
        clearAll: {
            get() {
                return this.clear;
            },
            set(value) {
                value.order = [];
                return value;
            }
        },
    },

    methods: {
        async closeCart(items) {
            this.loading = true;
            try {
                const response = await this.$axios.post('/order', items);

                this.userTest.user = response.data.user

                this.clearAllCart();

                alert(response.data.message);
                this.closeModal();
            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        },

        clearAllCart() {
            this.clearAll = this.items;
            this.$emit('clearAllCart');
        },

        closeModal() {
            this.$emit('close');
        },
    },

}
</script>