<template>
    <div>
        <a-modal v-model:visible="openModal" title="Cadastrar Produto">
            <a-form layout="vertical" name="basic" :model="form">
                <a-form-item label="Nome" name="name" :rules="[{ required: true, message: 'Nome do produto obrigatório' }]">
                    <a-input v-model:value="form.name" />
                </a-form-item>
                <a-form-item label="Preço" name="price" :rules="[{ required: true, message: 'Preço do obrigatório' }]">
                    <a-input v-model:value="form.price" />
                </a-form-item>

                <a-form-item label="Categoria Produto" name="product_category_id">
                    <a-select v-model:value="form.product_category_id" name="product_category_id"
                        :options="categoriesProducts" style="width: 100%"
                        :field-names="{ label: 'name', value: 'id', options: 'children' }">
                    </a-select>
                </a-form-item>

                <a-form-item label="Estabelecimento" name="establishment_id">
                    <a-select v-model:value="form.establishment_id" name="establishment_id" :options="establishments"
                        style="width: 100%" :field-names="{ label: 'name', value: 'id', options: 'children' }">
                    </a-select>
                </a-form-item>
            </a-form>
            <template #footer>
                <a-button key="back" @click="closeModal">Fechar</a-button>
                <a-button type="primary" :loading="loading" @click="handleStoreProduct">Salvar</a-button>
            </template>
        </a-modal>
    </div>
</template>
<script>
export default {
    props: ['showModal', 'categoriesProducts', 'establishments'],

    data() {
        return {
            active: false,
            loading: false,
            form: {}
        }
    },
    computed: {
        openModal: {
            get() {
                return this.active = this.showModal;
            },
            set(value) {
                return value;
            }
        }
    },
    methods: {
        async handleStoreProduct() {
            this.loading = true;
            try {
                const response = await this.$axios.post('/product', {
                    name: this.form.name,
                    price: this.form.price,
                    product_category_id: this.form.product_category_id,
                    establishment_id: this.form.establishment_id
                });

                this.$emit('getProducts');

                this.form.name = null;
                this.form.price = null;
                this.form.product_category_id = null;
                this.form.establishment_id = null;

                alert(response.data.message);
                this.closeModal();
            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        },
        closeModal() {
            this.$emit('close');
        },
    },

}
</script>