<template>
    <a-spin size="large" :spinning="loading">
        <a-layout>
            <a-layout-sider breakpoint="lg" collapsed-width="0" width="250">
                <a-row justify="center">
                    <a-col>
                        <h1 class="title-side-bar">Cast / Sebrae</h1>
                    </a-col>
                </a-row>
                <a-menu v-model:selectedKeys="selectedKeys" theme="dark" mode="inline">
                    <a-menu-item key="1">
                        <router-link to="/dashboard">
                            <span>Dashboard</span>
                        </router-link>
                    </a-menu-item>
                    <div v-if="user.user.isAdmin === 1">
                        <a-sub-menu key="sub1">
                            <template #title>
                                <span>
                                    Produto
                                </span>
                            </template>
                            <router-link to="/criar-categoria-produto">
                                <a-menu-item key="2">Cadastro de Categoria</a-menu-item>
                            </router-link>
                            <router-link to="/criar-produto">
                                <a-menu-item key="3">Cadastro de Produto</a-menu-item>
                            </router-link>
                        </a-sub-menu>
                        <a-sub-menu key="sub2">
                            <template #title>
                                <span>
                                    Estabelecimentos
                                </span>
                            </template>
                            <router-link to="/criar-categoria-estabelecimento">
                                <a-menu-item key="4">Cadastro de Categoria
                                </a-menu-item>
                            </router-link>
                            <router-link to="/criar-estabelecimento">
                                <a-menu-item key="5">Cadastro de Estabelecimento</a-menu-item>
                            </router-link>
                        </a-sub-menu>
                    </div>
                    <a-sub-menu key="sub3">
                        <template #title>
                            <span>
                                Pedido
                            </span>
                        </template>
                        <router-link to="/pedido-cliente">
                            <a-menu-item key="6">
                                Pedido Cliente
                            </a-menu-item>
                        </router-link>
                        <div v-if="user.user.isAdmin === 1">
                            <router-link to="/pedido-estabelecimento">
                                <a-menu-item key="7">
                                    Pedido Estabelecimento
                                </a-menu-item>
                            </router-link>
                        </div>
                    </a-sub-menu>
                    <a-button class="logout" type="primary" block @click="logout">
                        <LogoutOutlined />
                    </a-button>

                    <b class="balance-user"> Carteira {{ new Intl.NumberFormat('pt-BR', {
                        style: 'currency', currency: 'BRL'
                    }).format(user.user.balance) }} </b>
                </a-menu>

            </a-layout-sider>
            <a-layout>
                <a-layout-header :style="{ background: '#fff', padding: 0 }">
                    <b class="name-user"> {{ user.user.name?.toUpperCase() }} </b>
                </a-layout-header>
                <a-layout-content :style="{ margin: '24px 16px 0' }">
                    <div :style="{ padding: '24px', background: '#fff', minHeight: '100%' }">
                        <router-view />
                    </div>
                </a-layout-content>
            </a-layout>
        </a-layout>
    </a-spin>
</template>

<script>
import { LogoutOutlined, BankOutlined } from '@ant-design/icons-vue';
import { userStore } from '../../pinia/userPinia';

export default {
    components: {
        LogoutOutlined,
        BankOutlined
    },
    data() {
        return {
            selectedKeys: ['1'],
            collapsed: false,
            user: userStore(),
            loading: false
        }
    },
    mounted() {
        this.users()
    },
    methods: {
        async logout() {
            try {
                await this.$axios.post('/logout');

                localStorage.removeItem('token');

                this.$axios.defaults.headers.Authorization = null;

                this.$router.push('/login');
            } catch (error) {
                console.log(error);
            }
        },

        async users() {
            this.loading = true;
            try {
                const response = await this.$axios.get('/user');
                this.user.user = response.data
            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        }
    },
}
</script>

<style>
.ant-layout.ant-layout-has-sider {
    height: 100vh;
}

.name-user {
    text-align: center;
}

.balance-user {
    position: absolute;
    bottom: 200px;
    left: 10px;
}

.ant-btn.ant-btn-primary.ant-btn-block.logout {
    position: absolute;
    bottom: 20px;
    background: transparent;
}

.logout:hover {
    background: transparent;
}

.ant-layout-sider-children {
    position: relative;
}

.title-side-bar {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
}

.ant-layout-header {
    text-align: center;
}

.ant-spin-nested-loading>div>.ant-spin {
    max-height: none !important;
    background: #fff;
}
</style>
