<template>
    <a-row justify="center" type="flex" align="middle" class="box-main">
        <a-col :md="8" :xs="18">
            <a-form layout="vertical" name="basic" :model="form" @finish="login">
                <a-divider>Cast / Sebrae</a-divider>
                <a-form-item label="Email" name="email" :rules="[{ required: true, message: 'Email é obrigatório' }]">
                    <a-input v-model:value="form.email">
                        <template #prefix>
                            <UserOutlined />
                        </template>
                    </a-input>
                </a-form-item>
                <a-form-item label="Senha" name="password" :rules="[{ required: true, message: 'Senha é obrigatório' }]">
                    <a-input-password v-model:value="form.password">
                        <template #prefix>
                            <LockOutlined />
                        </template>
                    </a-input-password>
                </a-form-item>
                <a-row justify="end">
                    <router-link to="/user" class="box-create-user">
                        Criar conta?
                    </router-link>
                </a-row>
                <a-form-item>
                    <a-button type="primary" block size="large" html-type="submit">Entrar</a-button>
                </a-form-item>
            </a-form>
        </a-col>
    </a-row>
</template>

<script>
import { UserOutlined, LockOutlined } from '@ant-design/icons-vue';

export default {
    components: {
        UserOutlined,
        LockOutlined,
    },
    data() {
        return {
            form: {},
        };
    },

    methods: {
        async login() {
            try {
                const response = await this.$axios.post('/login', {
                    email: this.form.email,
                    password: this.form.password
                });

                this.$axios.defaults.headers.Authorization = `Bearer ${response.data.token} `;

                localStorage.setItem('token', response.data.token);

                this.$router.push('/dashboard');
            } catch (error) {
                console.log(error);
            }

        }
    }
}
</script>

<style></style>
