<template>
    <div>
        <a-modal v-model:visible="openModal" title="Cadastrar Estabelecimento">
            <a-form layout="vertical" name="basic" :model="form">
                <a-form-item label="Nome" name="name"
                    :rules="[{ required: true, message: 'Nome do estabelecimento obrigatório' }]">
                    <a-input v-model:value="form.name" />
                </a-form-item>
                <a-form-item label="Descrição" name="description"
                    :rules="[{ required: true, message: 'Nome da categoria obrigatório' }]">
                    <a-input v-model:value="form.description" />
                </a-form-item>

                <a-form-item label="Categoria Estabelecimento" name="establishment_category_id">
                    <a-select v-model:value="form.establishment_category_id" name="establishment_category_id"
                        :options="categories" style="width: 100%"
                        :field-names="{ label: 'name', value: 'id', options: 'children' }">
                    </a-select>
                </a-form-item>

                <a-row :gutter="[16, 16]">
                    <a-col :span="12" :xs="24" :md="12">
                        <a-form-item label="Cep" name="cep" :rules="[{ required: true, message: 'Cep é obrigatório' }]">
                            <a-input v-model:value="form.cep" @keyup="getCep" />
                        </a-form-item>
                    </a-col>
                    <a-col :span="12" :xs="24" :md="12">
                        <a-form-item label="Estado" name="uf"
                            :rules="[{ required: true, message: 'Estado é obrigatório' }]">
                            <a-input v-model:value="form.uf" :disabled="true" />
                        </a-form-item>
                    </a-col>
                </a-row>
                <a-row :gutter="[16, 16]">
                    <a-col :span="12" :xs="24" :md="12">
                        <a-form-item label="Cidade" name="localidade"
                            :rules="[{ required: true, message: 'Cidade é obrigatório' }]">
                            <a-input v-model:value="form.localidade" :disabled="true" />
                        </a-form-item>
                    </a-col>
                    <a-col :span="12" :xs="24" :md="12">
                        <a-form-item label="Bairro" name="bairro"
                            :rules="[{ required: true, message: 'Bairro é obrigatório' }]">
                            <a-input v-model:value="form.bairro" :disabled="true" />
                        </a-form-item>
                    </a-col>
                </a-row>
                <a-row :gutter="[16, 16]">
                    <a-col :span="12" :xs="24" :md="12">
                        <a-form-item label="Rua" name="logradouro"
                            :rules="[{ required: true, message: 'Rua é obrigatório' }]">
                            <a-input v-model:value="form.logradouro" :disabled="true" />
                        </a-form-item>
                    </a-col>
                    <a-col :span="12" :xs="24" :md="12">
                        <a-form-item label="Complemento" name="complemento"
                            :rules="[{ required: true, message: 'Complemento é obrigatório' }]">
                            <a-input v-model:value="form.complemento" />
                        </a-form-item>
                    </a-col>
                </a-row>

            </a-form>
            <template #footer>
                <a-button key="back" @click="closeModal">Fechar</a-button>
                <a-button type="primary" :loading="loading" @click="handleStoreEstablishment">Salvar</a-button>
            </template>
        </a-modal>
    </div>
</template>

<script>
export default {
    props: ['showModal', 'categories'],

    data() {
        return {
            active: false,
            loading: false,
            form: {}
        }
    },
    computed: {
        openModal: {
            get() {
                return this.active = this.showModal;
            },
            set(value) {
                return value;
            }
        }
    },

    methods: {
        async handleStoreEstablishment() {
            this.loading = true;
            try {
                const response = await this.$axios.post('/establishment', {
                    name: this.form.name,
                    description: this.form.description,
                    user_id: 2,
                    establishment_category_id: this.form.establishment_category_id,
                    cep: this.form.cep,
                    logradouro: this.form.logradouro,
                    complemento: this.form.complemento,
                    bairro: this.form.bairro,
                    localidade: this.form.localidade,
                    uf: this.form.uf,
                });

                this.$emit('getEstablishment');

                this.form.name = null;

                alert(response.data.message);
                this.closeModal();
            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        },

        async getCep() {
            try {
                if (this.form.cep.length === 8) {
                    const response = await this.$axios.get(`https://viacep.com.br/ws/${this.form.cep}/json/`);

                    const newObj = { ...response.data, ...this.form }

                    this.form = newObj
                }
            } catch (error) {
                console.log(error);
            }
        },
        closeModal() {
            this.$emit('close');
        },
    },

}
</script>