<template>
    <a-collapse v-for="order in orders" :key="order.id">
        <a-collapse-panel key="1" :header="`Pedido: ${order.number_order}`">
            <span><b>Produto(s):</b></span>

            <div v-for="product in order.products" :key="product.id">
                <a-divider />

                <p>{{ product.name }}</p>
                <p>Preço: {{ new Intl.NumberFormat('pt-BR', {
                    style: 'currency', currency: 'BRL'
                }).format(product.price) }} - {{ order.amount }} unidade - Código do item: {{ product.id }} </p>
            </div>
            <a-divider />

            <div v-for="establishment in order.establishments" :key="establishment.id">
                <span>Vendido por: {{ establishment.name }}</span>
            </div>
        </a-collapse-panel>
    </a-collapse>
</template>

<script>
export default {
    data() {
        return {
            orders: []
        }
    },

    mounted() {
        this.handleOrders();
    },
    methods: {
        async handleOrders() {
            try {
                const response = await this.$axios.get('order-client');

                this.orders = response.data;
            } catch (error) {
                console.log(error);
            }
        }
    }
}
</script>