<template>
    <div>
        <a-modal v-model:visible="openModal" title="Cadastrar Categoria Estabelecimento">
            <a-form layout="vertical" name="basic" :model="form">
                <a-form-item label="Nome" name="name"
                    :rules="[{ required: true, message: 'Nome da categoria obrigatório' }]">
                    <a-input v-model:value="form.name" />
                </a-form-item>
            </a-form>
            <template #footer>
                <a-button key="back" @click="closeModal">Fechar</a-button>
                <a-button type="primary" :loading="loading" @click="handleStoreEstablishmentCategory">Salvar</a-button>
            </template>
        </a-modal>
    </div>
</template>

<script>
export default {
    props: ['showModal'],

    data() {
        return {
            active: false,
            loading: false,
            form: {}
        }
    },
    computed: {
        openModal: {
            get() {
                return this.active = this.showModal;
            },
            set(value) {
                return value;
            }
        }
    },

    methods: {
        async handleStoreEstablishmentCategory() {
            this.loading = true;
            try {
                const response = await this.$axios.post('/establishment-category', {
                    name: this.form.name
                });

                this.$emit('getCategories');
                
                this.form.name = null;

                alert(response.data.message);
                this.closeModal();
            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        },

        closeModal() {
            this.$emit('close');
        },
    },

}
</script>