<template>
    <div>
        <a-row justify="space-between" style="margin-bottom: 20px;">
            <h1>Produtos</h1>
            <a-button type="primary" @click="showModal">Criar Produto</a-button>
        </a-row>
        <a-table :columns="columns" :data-source="products">
            <template #headerCell="{ column }">
                <template v-if="column.key === 'id'">
                    <span>Id</span>
                </template>
                <template v-if="column.key === 'name'">
                    <span>Nome</span>
                </template>
                <template v-if="column.key === 'price'">
                    <span>Preço</span>
                </template>
                <template v-if="column.key === 'category'">
                    <span>Categoria</span>
                </template>
                <template v-if="column.key === 'establishment'">
                    <span>Estabelecimento</span>
                </template>
            </template>
            <template #bodyCell="{ column, record }">
                <template v-if="column.key === 'price'">
                    <span> {{ new Intl.NumberFormat('pt-BR', {
                        style: 'currency', currency: 'BRL'
                    }).format(record.price) }}</span>
                </template>
                <template v-if="column.key === 'category'">
                    <span> {{ record.product_categories.name }}</span>
                </template>
                <template v-if="column.key === 'establishment'">
                    <span> {{ record.establishments.name }}</span>
                </template>
            </template>
        </a-table>
    </div>
    <Modal :showModal="openModal" :establishments="establishments" :categoriesProducts="categoriesProducts"
        @close="openModal = false" @getProducts="handleProduct" />
</template>
<script>
import Modal from '../../components/modals/product/productModal.vue';

export default {
    components: {
        Modal
    },
    data() {
        return {
            openModal: false,
            products: [],
            establishments: [],
            categoriesProducts: [],
            columns: [
                {
                    name: 'Id',
                    dataIndex: 'id',
                    key: 'id',
                },
                {
                    name: 'Nome',
                    dataIndex: 'name',
                    key: 'name',
                },
                {
                    name: 'Preço',
                    dataIndex: 'price',
                    key: 'price',
                },
                {
                    name: 'Categoria',
                    dataIndex: 'category',
                    key: 'category',
                },
                {
                    name: 'Estabelecimento',
                    dataIndex: 'establishment',
                    key: 'establishment',
                },
            ]
        }
    },
    mounted() {
        this.handleProduct();
    },
    methods: {
        async handleProduct() {
            try {
                const response = await this.$axios.get('/product');

                await this.getEstablishment();

                await this.getCategoriesProducts();

                this.products = response.data.data;
            } catch (error) {
                console.log(error);
            }
        },

        async getEstablishment() {
            try {
                const response = await this.$axios.get('/establishment');

                this.establishments = response.data;
            } catch (error) {
                console.log(error);
            }
        },

        async getCategoriesProducts() {
            try {
                const response = await this.$axios.get('/product-category');

                this.categoriesProducts = response.data;
            } catch (error) {
                console.log(error);
            }
        },
        showModal() {
            this.openModal = true;
        }
    },
}
</script>